
html
{
    min-height: 100%;
     overflow-y:scroll;
     overflow-x:hidden;
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  display: none;
}
body
 {
     position: absolute; 
 }
html,body   
{   
margin-top: 80px;  
padding: 30px; 
height: auto ;
font-family: sans-serif;  
position: relative;
}  
 
.bodycontent
{
    background-size: cover; 
}
section 
{ 
   margin-top: -1100px;
    padding: 20px;
    box-sizing: border-box;
}

.nav
{
  margin-top: -16%;
  width: 100%;
}

.bgvideo
{
   margin-top: -40%;
   margin-left: -10%;
   height: 0%;
   margin-bottom: 84.5%;
   width: 80px;
}
header {
position: relative;
left: 0;  
right: 0;
margin-top: -10%;  
top: 0px;  
height: 300px;  
display: flex;  
align-items: center; 
z-index: 500;
width: 120%;
}

header * {  
display: inline;  
}  
header li {  
margin: 20px;  
}  
header li a {  
color: white;  
text-decoration: none;  
}
.login{
   text-align: center;
   left : 500px;
   color: white;
   float: right;
}
.logo 
{
  float:left;
}
.logo1
{
  float: left;
}
.footer 
{
  margin-left: -6%;
  margin-right: -8%;
  background-color:black;    
  height: 300px;
  display: flex;  
  align-items: center;  
  color: white; 
  padding-left: 100px;
}

.form-popup {
  margin-left: 50px;
  float: left;
  width: 95%;
  position: relative;
  bottom: 0;
  right: 15px;
  border: 20px solid #f1f1f1;
  z-index: 100%;
  margin-top: -131.5%;
  background-color: white;
  padding: 10px;
}


.form-container {
  float : right;
  width: 90%;
  max-width: 500px;
  padding: 70px;
  background-color: #f1f1f1;
  height : 600px;
}


.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: white
}


.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: white;
  outline: none;
}


.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  margin-top:15px;
  opacity: 0.8;
}


.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.left
{
  width: 100px;
  float: left;
  height: 600px;

}

.right 
{
  width: 700px;
  float: right;
  height: 400px;
}

.contact 
{
  float : left;
  width  : 50%;
}

.ids
{
   float : right;
   width : 50%;
   margin-left: 600px;
}

a.active
{
 border-bottom: 3px solid  rgb(247, 142, 82);
}


a
{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}
a:hover
{
  /* color: rgb(247, 142, 82); */
  border-bottom: 3px solid rgb(247, 142, 82);
}


.slideanim {
    visibility:hidden;
    visibility:visible\9;
}
.slideanim.slide {                  
    visibility: visible;                  
    animation: slide 1s;
}
.slideanim::after {
    content: "";
    display: table;
    clear: both;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(50%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    } 
}


  .container-fluid {
    padding: 60px 50px;
  }
  .carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
  }
  .carousel-indicators li {
    border-color: #f4511e;
  }
  .carousel-indicators li.active {
    background-color: #f4511e;
  }
  .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
  }